<mat-toolbar color="primary">
  <mat-icon *ngIf="volume === 0"> volume_mute </mat-icon>

  <mat-icon *ngIf="volume <= 50 && volume > 0"> volume_down </mat-icon>

  <mat-icon *ngIf="volume > 50"> volume_up </mat-icon>

  <mat-slider
    style="width: 100px"
    thumbLabel
    min="0"
    max="100"
    tickInterval="10"
    [(ngModel)]="volume"
    (ngModelChange)="updateVolume()"
  ></mat-slider>

  <span class="fill-remaining-space"> </span>

  <button
    *ngIf="timeLeftMinutes != undefined"
    mat-flat-button
    color="primary"
    [matBadge]="getBadge()"
    matBadgeColor="accent"
    (click)="add15()"
    style="margin-right: 15px"
  >
    <mat-icon> timer </mat-icon>
  </button>

  <button mat-flat-button color="primary" (click)="toggleMusic()">
    <mat-icon *ngIf="!playing"> play_arrow </mat-icon>

    <mat-icon *ngIf="playing"> pause </mat-icon>
  </button>
</mat-toolbar>
