#page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#body {
  width: 100vw;
  height: calc(100vh - 64px);
}

#footer {
  width: 100vw;
  height: 64px;
}
